* {
    box-sizing:border-box!important;
}

:root {
    --main-blue : #00b0ff;
    --yellow : #f2d800;
}

.text-main {
    color: var(--main-blue);
}

.bg-main {
    background-color: var(--main-blue);
    color: white;
}


.text-yellow {
    color: var(--yellow);
}

.bg-yellow {
    background-color: var(--yellow);
    color: white;
}

.montserrat-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.montserrat-regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.playfair-italic {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
}

.raleway-bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.raleway-regular {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.nav-link:hover {
    background-color: var(--main-blue);
    color: white!important;
}

#card-surf {
    height: 600px;
    width: 1030px;
    margin: auto;
}

button.nav-link-tab {
    outline: none!important;
    box-shadow:none!important;
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    border-bottom: 2px solid transparent!important;
    background-color: transparent!important;
}

button.nav-link-tab:hover {
    color: black!important;
    border-bottom: 2px solid var(--main-blue)!important;
}

#about-title p {
    font-size: 196px;
    letter-spacing:20px;
}

/* @media only screen and (max-width: 1170px) {
    #about-title p {
        font-size: 100px;
        letter-spacing:10px;
    }
} */
