* {
    box-sizing:border-box!important;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --main-blue : #00b0ff;
    --yellow : #f2d800;
}

.text-main {
    color: var(--main-blue);
}

.bg-main {
    background-color: var(--main-blue);
    color: white;
}


.text-yellow {
    color: var(--yellow);
}

.bg-yellow {
    background-color: var(--yellow);
    color: white;
}

.montserrat-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.montserrat-regular {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.playfair-italic {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: italic;
}

.raleway-bold {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.raleway-regular {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.nav-link:hover {
    background-color: var(--main-blue);
    color: white!important;
}

#card-surf {
    height: 600px;
    width: 1030px;
    margin: auto;
}

button.nav-link-tab {
    outline: none!important;
    box-shadow:none!important;
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
    border-bottom: 2px solid transparent!important;
    background-color: transparent!important;
}

button.nav-link-tab:hover {
    color: black!important;
    border-bottom: 2px solid var(--main-blue)!important;
}

#about-title p {
    font-size: 196px;
    letter-spacing:20px;
}

/* @media only screen and (max-width: 1170px) {
    #about-title p {
        font-size: 100px;
        letter-spacing:10px;
    }
} */

#about-video-text {
    position: relative;
    z-index: 10;
    margin-top: -200px;
}

#about-text {
    margin-top: -300px;
}

#instagram-title {
    font-size:6.2rem;
    letter-spacing:10px;
    margin-bottom: -50px;
}

@media only screen and (max-width:1400px) {
    #instagram-title {
        font-size:5.3rem;
        letter-spacing:8.5px;
    }
}
@media only screen and (max-width:1200px) {
    #instagram-title {
        font-size:4.4rem;
        letter-spacing:7.2px;
        margin-bottom: -40px;
    }
}
@media only screen and (max-width:992px) {
    #instagram-title {
        font-size:3rem;
        letter-spacing:7.7px;
        margin-bottom: -25px;
    }
}
@media only screen and (max-width:768px) {
    #instagram-title {
        font-size:60px;
        letter-spacing:7px;
    }
}
@media only screen and (max-width:576px) {
    #instagram-title {
        font-size:30px;
        letter-spacing:7px;
        margin-bottom: 0;
    }
}

